<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excellencesys.dao.FindDao">
    <select id="allmessage" resultType="com.example.excellencesys.pojo.Find">
        SELECT * FROM find inner join findclassification on find.findcid=findclassification.findcid WHERE findclassification.findcid=#{findcid} ;
    </select>

    <select id="findtype" resultType="com.example.excellencesys.pojo.Findclassification">
        select * from findclassification;
    </select>

</mapper>