<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excellencesys.dao.ShopDao">
    <select id="getshopcar" resultType="com.example.excellencesys.pojo.Shopping">
        select * from shopping;
    </select>
    <select id="number" resultType="int">
         SELECT number FROM shopping inner join `order` on shopping.uid=`order`.uid WHERE `order`.oid=#{oid} ;
    </select>
    <select id="money" resultType="double">
         SELECT prive FROM shopping inner join `order` on shopping.uid=`order`.uid WHERE `order`.oid=#{oid} ;
    </select>
</mapper>