<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excellencesys.dao.UserDao" >
    <select id="login" resultType="com.example.excellencesys.pojo.User">
        select * from User where unumber=#{unumber} and upass=#{upass}
    </select>
    <update id="updateState">
        update User set  ustate=1  where uid=#{uid}
    </update>
    <insert id="regin">
        insert into User values(null,#{uname},#{unumber},#{upass},null,null,null,null)
    </insert>
    <select id="getAddressList" resultType="com.example.excellencesys.pojo.User">
        select * from User where uid=#{uid}
    </select>
    <update id="updateAddress">
        update User set  address=#{address} where uid=#{uid}
    </update>
    <insert id="addAddress">
        insert  into User values(null,#{address});
    </insert>
    <update id="outLogin">
        update User set  ustate=0  where uid=#{uid}
    </update>
    <select id="getuserInfo" resultType="com.example.excellencesys.pojo.User">
        select * from User where uid=#{uid}
    </select>
    <select id="getbalance" resultType="com.example.excellencesys.pojo.User">
        select ubalance from User where uid=#{uid}
    </select>
    <update id="recharge">
        update User set  ubalance=#{ubalance} where uid=#{uid}
    </update>
</mapper>